

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    flex-wrap: wrap;
            flex-grow: 1;
}



.logo {
    width: 10%;
    cursor: pointer;

}

.rotate-hover:hover {
    animation: rotation 8s infinite linear;
}







/* Headers and Texts */

h2 {
        font-size: 64px;
        color: white;
    margin: 0 auto;
    text-align: center;
}

h3 {
            font-size: 32px;
            color: white;
            margin: 0 auto;
            text-align: center;
}

p {
    color: whitesmoke;
    text-align: center;
    width: 800px;
    margin: auto;
}

/* Specific pages */
/* Home */

.home-container {

    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-main {
    color: white;
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1 {
    font-size: 5vw;
    width: 100%;
}

.buttons-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

/* Portfolio */
.portfolio-row {
    display: flex;
    justify-content: center;
}

.project-box {
    width: 25%;
    margin: 24px;
}

@media (max-width: 1025px) {
    .home-main {
        width: 66%;
        font-size: 2em;
    }

    h1 {
        font-size: 2em;
    }

    .logo {
        width: 15%;
    }

    nav {


    }
}

@media (max-width: 480px) {
    .home-main {
        width: 100%;

    }

    h1 {
        font-size: 2em;
    }


    nav {
        display: none;
    }

    .nav {
        padding: 10px;
    }

    .logo {
        width: 25%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}