

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
.logo {
    width: 120px;
    height: 120px;
    cursor: pointer;

}

.rotate-hover:hover {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}



.link-button {
    margin: 0px 20px;
    width: 128px;
    color: white;
    text-align: center;
    border: 4px solid white;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    cursor: pointer;
}

.main-button {
    margin: 0px;
    width: 250px;
    color: white;
    text-align: center;
    border: 4px solid white;
    text-decoration: none;
    font-size: 32px;
    background-color: transparent;
    cursor: pointer;
}

.link-hover:hover {
    background-color: green;
    transform: scale(1.2);
    transition: 2s;
}

/* Headers and Texts */

h1 {
    font-size: 84px;
    color: white;
    margin: 100px auto 12px auto;
    width: 600px;
    text-align: center;
}

h2 {
        font-size: 64px;
        color: white;
    margin: 0 auto;
    text-align: center;
}

h3 {
            font-size: 32px;
            color: white;
            margin: 0 auto;
            text-align: center;
}

p {
    color: whitesmoke;
    text-align: center;
    width: 800px;
    margin: auto;
}

/* Specific pages */
/* Home */

.buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
}

/* Portfolio */
.portfolio-row {
    display: flex;
    justify-content: center;
}

.project-box {
    width: 25%;
    margin: 24px;
}