

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    flex-wrap: wrap;
            flex-grow: 1;
}

.logo {
    width: 10%;
    cursor: pointer;

}

.rotate-hover:hover {
    animation: rotation 8s infinite linear;
}

/* Common Headers and Texts */
h1 {
    font-size: 5vw;
    width: 100%;
}

h2 {
        font-size: 64px;
        color: white;
    margin: 0 auto;
    text-align: center;
}

h3 {
            font-size: 32px;
            color: white;
            margin: 0 auto;
            text-align: center;
}

p {
    color: whitesmoke;
    text-align: center;

    margin: auto;
}

/* ABout */

.about-container {
    width: 75%;
    margin: auto;
}

.hidden {
    display: none;
}

@media (max-width: 1025px) {

    h1, p {
        font-size: 2em;
    }

    .logo {
        width: 15%;
    }

}

@media (max-width: 480px) {
    p {
        font-size: 1.3em;
    }

    .nav {
        padding: 10px;
    }

    .logo {
        width: 25%;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}